.dragzone-container {
  .dropzone {
    background-color: #eaeaea;
    width: 500px;
    max-width: 80vw;
    height: 100px;
    max-height: 50vh;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
  }
}
